/config.h.mingw
/Makefile.am
/config.h
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure.ac
/ltmain.sh
/local.mak
/INSTALL
/libtool
/pidgin-znchelper-*
/pidgin-znc-helper-*
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/src/.deps
/src/.libs
/m4/
/win32-install-dir
/share/appdata/pidgin-extended-blist-sort.metainfo.xml
/po/.intltool-merge-cache


Makefile
*.gmo
*.o
*.l[oa]
*.dll

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/po/untitled.pot
